<!doctype html>
<html lang="ko">
    <head>
      
        {% include 'head.html' %}

    </head>

    <body class="text-center">
        <div class="form-signin">
            <img class="mb-4" src="/static/laugh.png" alt="" width="72" height="72">
            <h1 class="mb-3 font-weight-normal">admin</h1>


            <div class="container" id="content">
            </div>
              
            <p class="mt-5 mb-3 text-muted">&copy; 2021 I'm back</p>
        </div>
    </body>


    <script>
        $.ajax({
            type: 'POST',
            url: '/admin/question/all/get',
            success: function(res){
                $("#content").html(res);
            }
        });
        
    </script>

</html>