<!doctype html>
<html lang="ko">
    <head>

        {% include 'head.html' %}

    </head>

    <body class="text-center">
        <div class="form-signin mb-3">
            <h1 class="mb-3 font-weight-normal">답변 작성</h1>
            <p>
                {{ name }} 님을 나는 얼마나 잘 알고 있을까요?
            </p>
            <p>
                {{ name }} 님께서 고른 답변을 맞춰 보세요!
            </p>

            <a href="/new">나도 할래!</a>

            <hr>

            <div id="content">

            </div>


            <div style="margin-bottom:50px;">
                <input type="email" id="challenger" placeholder="제출자"  style="text-align:center;" required autofocus>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" onclick="return endAnswering();">제출</button>

            <div class="container" style="margin-top: 10%"></div>
                <a href="#" id="result">결과 보기</a>
            </div>
        
        </div>
    </body>


    <script>
        document.getElementById("result").href = getResultLink();
        var res = [];

        var user_idx = '{{ user_idx }}';

        $.ajax({
            type: 'POST',
            url: '/answerCard',
            data: {'user_idx': user_idx},
            success: function(res){
                $("#content").html(res);

                addListener();
            }
        });



        function addListener(){
            $(".btn-group-vertical").on("change", function(){
                var id = this.id;
                for(var idx = 0; idx < res.length ; idx++){
                    if(res[idx]["question_idx"] == id) {
                        if (idx > -1) {
                            res.splice(idx, 1);
                            break;
                        }
                    }
                }
                res.push({"question_idx": id, "answer":$('input[name="jb-radio"]:checked', '.btn-group-vertical').val()});
            });
        }
        

        function endAnswering(){
            if($("#challenger").val().length == 0){
                alert("제출자를 입력하세요!");
                return;
            }
            else if(res.length != $('.btn-group-vertical').length){
                alert("응답하지 않은 항목이 있어요!");
                return;
            }
            else{
                $.ajax({
                    type: 'POST',
                    url: '/answer/new',
                    data: {'res': JSON.stringify(res), 'name': $("#challenger").val(), 'user_idx':user_idx},
                    success: function(res){
                        window.location.href='/result/' + "{{ code }}";
                        return false;
                    }
                });
            }
            
        }


        function getResultLink(){
            var text    = location.href.split('/');

            var userIdx = text.pop() ;
            text.pop() ;
            var hostname = text.pop() ;
            
            return "http://" + hostname + "/result/" + userIdx;
        }

    </script>

</html>