<!doctype html>
<html lang="ko">
    <head>
      
        {% include 'head.html' %}

    </head>

    <body class="text-center">
        <div class="form-signin">
            <img class="mb-4" src="/static/laugh.png" alt="" width="72" height="72">
            <h1 class="mb-3 font-weight-normal">You Answer Me</h1>
            <p>
                내 친구는 나를 얼마나 잘 알고 있을까요?
            </p>

            <div style="margin-bottom:50px;">

                <input type="email" id="name" placeholder="이름" style="text-align:center;" required autofocus>

            </div>
<!--             
            <div class="center">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-7624016950676600"
                    data-ad-slot="6889950941"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div> -->
            
            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="startQuestioning();">문제 내기</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021 I'm back</p>
        </div>
    </body>


    <script>
        function startQuestioning(){
            if($("#name").val().length == 0){
                alert("이름을 입력하세요!");
                return;
            }
            else{
                window.location.href='/questioning/' + $("#name").val();
            }
        }

    </script>

</html>