<!doctype html>
<html lang="ko">
    <head>

        {% include 'head.html' %}

    </head>

    <body class="text-center ">
        <div class="form-signin">
            <h1 class="mb-3 font-weight-normal">질문 작성</h1>
            <p>
                나에게 해당하는 답변을 선택해주세요.
            </p>
            <p>
                원하지 않는 답변은 넘어가실 수 있어요!
            </p>
            <div id="content">

            </div>

            <div class="container mb-3" id="result">
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="return endQuestioning();">완료</button>
        </div>
    </body>


    <script>
        var res = [];
        var questions =  "{{ questions }}";
        var name =  "{{ name }}";

        $.ajax({
            type: 'POST',
            url: '/questionCard',
            data: {'questions': questions},
            success: function(res){
                $("#content").html(res);
                $('#result').text('0/' + $('.btn-group-vertical').length + '개');

                addListener();
            }
        });

        function endQuestioning(){
            if(res.length <= 4){
                alert("5개 이상의 답변을 하세요!");
                return;
            }
            else{
                $.ajax({
                    type: 'POST',
                    url: '/userQuestion/new',
                    data: {'res': JSON.stringify(res), 'name': name},
                    success: function(res){
                        window.location.href='/share/' + res["code"];
                        return false;
                    }
                });
            }
        }


        function addListener(){
            $(".btn-group-vertical").on("change", function(){
                var id = this.id;
                for(var idx = 0; idx < res.length ; idx++){
                    if(res[idx]["question_idx"] == id) {
                        if (idx > -1) {
                            res.splice(idx, 1);
                            break;
                        }
                    }
                }
                res.push({"question_idx": id, "answer":$('input[name="jb-radio"]:checked', '.btn-group-vertical').val()});
                $('#result').text(res.length + '/' + $('.btn-group-vertical').length + '개');
            });
        }
        

        

    </script>

</html>