<!doctype html>
<html lang="ko">
    <head>
      
        {% include 'head.html' %}

    </head>

    <body class="text-center">
        <div class="form-signin">
            <img class="mb-4" src="/static/laugh.png" alt="" width="72" height="72">
            <h1 class="mb-3 font-weight-normal">You Answer Me</h1>

            <div class="container" style="margin-bottom:50px; margin-top:50px;">
                <p>
                    친구에게 아래 링크를 공유하세요!
                </p>
            </div>
            <input type="text" size="30" value="test" id="CopyThis" onclick="this.select();" style = "text-align:center;"
             readonly>
            <div class="container" style="margin-top: 50px;">
                <a href="#" id="result">결과 보기</a>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; 2021 I'm back</p>
        </div>
    </body>


    <script>
        document.getElementById("CopyThis").value = getLink();
        document.getElementById("result").href = getResultLink();

        function getLink(){
            var text    = location.href.split('/');

            var userIdx = text.pop() ;
            text.pop() ;
            var hostname = text.pop() ;
            
            return hostname + "/answering/" + userIdx;
        }

        function getResultLink(){
            var text    = location.href.split('/');

            var userIdx = text.pop() ;
            text.pop() ;
            var hostname = text.pop() ;
            
            return "http://" + hostname + "/result/" + userIdx;
        }
        
    </script>

</html>